
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .modal{
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:10;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
  }
}
html {
    scroll-behavior: smooth;
  }
  .container,.slide1
{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  
}


.slide1.view{
  display: flex;
  height:450px;


  flex-direction: column;
  
}
::-webkit-scrollbar-track {
  background-color: rgba(237, 240, 242, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}